/***************************/
/*  general/sitewide */
/***************************/

body {
	background: url('/images/chuckb-overlay.jpg') no-repeat fixed;
  	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	font-family: 'Archivo Narrow', sans-serif;
}

h1 {
	font-family: 'Righteous', cursive;
	padding-bottom:20px;
}

span.number {
	font-size:30px;
	font-weight:bold;
	color: white;
}



.scenery {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;

}

.givethemansomeroom {
	margin: 0px auto;
	max-width:66%;
	min-width:320px;
}


.givethemansomeroom .col-lg-12 {
	min-height:500px;
}

p { 
	margin: auto 10%;
	padding-bottom:20px;
	letter-spacing: 2px;
}

.bands {
	position: fixed;
	left 0;
	width:100%;
	height:100%;
}

.bands .band {
	height:18px;
	width:100%;
}

.bands .band.band1 {
	background: #26BEB2;
}


.bands .band.band2 {
	background: #FCAF43;
}



.bands .band.band3 {
	background: #F5ECCF;
}



.bands .band.band4 {
	background: #420d64;
}

.bands .band.band5 {
	background: #660D0F;
}


.bands .band.band6 {
	background: #F26530;
}

.black {
	background:black;
	color:white;
}

.blackish {
	background:#222;
	color:white;
}

.light-grey {
	background:#eee;
}

.hero {
	color:white;
	margin-top:10px;
	background:rgba(0,0,0,.5);
}
.hero h1 {
	font-size:72px;
	text-align:center;
	font-weight:bold;	
}

.hero p {
	font-size:18px;
}
.navbar-brand {
	padding:10px;
}


.footer {
	margin: 0px auto;
	text-align:center;
}

.footer img {
	padding:20px;
}
